<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value ="C:\Users\4xgoo\source\repos\TournamentTracker\stuff\data"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=.\sqldev; 
         Database=Tournaments; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>